body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../img/congruent_pentagon.png");
}

hr{
    height: 3px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #9dc498;
    border: none;
}

div.p {

    float: left;
    width: 500px;
    height: 5vh;
    margin-left: 3vw;
    display: block;
}


div.top {

    display: inline-block;
    width: 100%;

    margin: 0 0 0 0;
    padding: 0 0 0 0;
    opacity: 0.8;
    background-color: #c1f4cf;
    height: auto;
    text-align: center;
}

div.hr{
    float: left;
    width: 100%;
}

div.menu{
    margin-top: 1vh;
    margin-left: 0;
    display: block;
    height: 4vh;
    float: right;
    width: 250px;
}

div.p p{
    font-size: 50px;
    margin: 0;
    font-family: cursive;
    font-weight: bold;
    text-shadow:
            1px 1px 0px #c4dbe2,
            2px 2px 0px #b4d1d9,
            3px 3px 0px #a6c6cf,
            4px 4px 0px #94b8c3,
            5px 5px 0px #87aeb9,
            6px 6px 0px #7aa3af,
            7px 7px 0px #6d97a3,
            8px 8px 0px #618b98,
            9px 9px 0px #56818e,
            10px 10px 0px #4c7683,
            15px 15px 25px rgba(0,0,0,.9);
    transition: .5s ease-in-out;
}

div.main{
    background-image: url("../img/imgonline-com-ua-Resize-aBa9H4YYV7Q1Az03.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 820px;
    width: 100%;
    height: 88.78vh;
    text-align: center;
}


div.img{
    width: 100%;
    position: absolute;
    top:25%;
    text-align: center;
}

div.main p{
    margin: 0px;
    font-size: 28px;
    font-family: cursive;
    padding-top: 0px;

}

div.main form{
    width: 1350px;
    position: absolute;
    padding: 0px;
    top: 150px;
    left:21%;
}

div.bot{
    height:68px;
    opacity: 0.8;
    background-color: #c1f4cf;
    text-align: right;
}

div.bot p{
    padding-right: 10px;
    font-family:sans-serif;
    color:gray;
    font-weight: bold;
}

input[type=submit] {
    background-color: #58A118;
}

input{
    outline: none;
    margin: 3px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    width: auto;
}

input:focus {
    border: 3px solid #58A118;
}

li{
    list-style-type: none;
    border: 2px solid darkgrey;
}
ul{
    text-align: center;
    float: left;
    
}
ul.child1{

    width: 300px;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 421px;
    top: 0px;
}

form#menu p{
    font-size: 25px;
    color: darkgreen
}

ul.child2{

    width: 300px;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 423px;
    top: 42px;
}
ul.child3{
    width: 300px;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 190px;
}
li:hover ul{
    display: inline-block;
}
ul.man{
    display: inline-block;
    margin: 0 0;
    padding-left: 0;
    width: 1300px;
}
.man li{

    background-color:cornsilk;
    text-align: center;
    float: left;
    width: 400px;
    padding: 10px;
}
.man{cursor: pointer;}
